



.footer {
    background-color: #2c3e50; 
    color: #ffffff; 
    text-align: center;
    padding: 20px;
    height: 200px;
    width: 100%px;

    
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links a {
    color: #ffffff; 
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s; 
    

    }

.footer-links a:hover {
    color: #e67e22;
}

.social-links {
    margin-top: 15px;
}

.social-links a {
    color: #ffffff; /* Couleur des icônes de réseaux sociaux */
    font-size: 24px; /* Ajustez la taille de l'icône selon vos préférences */
    margin: 0 10px;
    text-decoration: none;
}

.social-links a:hover {
    color: #e67e22; /* Couleur chic pour les icônes au survol */
}
.logo{
    width: 200px;
    height: 200px;
    margin-right: 1100px;
    margin-top: -100px;
}
.page-name {
    font-size: 20px; /* Ajustez la taille du texte selon vos préférences */
    color: #f09a50; /* Couleur du texte pour le nom de la page */
    margin-top: 5px; /* Ajustez la marge supérieure selon vos préférences */
    margin-right: 900px;
    margin-top: -60px;
}