
    .welcome-message {
        text-align: center;
        margin-bottom: 30px;
    }

    .welcome-message h2 {
        font-size: 24px;
        font-weight: bold;
        animation: bounce 2s infinite;
    }

    .reservation-form {
        background-color: #f4f4f4;
        padding: 20px;
        border-radius: 10px;
    }

    /* Animation du texte */
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-20px);
        }
        60% {
            transform: translateY(-10px);
        }
    }

