/* Styles généraux */


.header {
    background-color:   #1d1a1a;;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 150px; 
   
}


.logo{
    width: 200px;
    height: 200px;
    margin-right: 1100px;
    margin-top: -50px;
}





.log{
    /* display: flex; */
    height: 50px;
}

.Texte{
    margin-top: -50px;
    font-size: 36px; /* Ajustez la taille du texte selon vos préférences */
    font-weight: bold;
    color: #f09a50;
    overflow: hidden;
     
    
}
.name{
color: black;
}
.page-name {
    font-size: 20px; /* Ajustez la taille du texte selon vos préférences */
    color: #f09a50; /* Couleur du texte pour le nom de la page */
    margin-top: 5px; /* Ajustez la marge supérieure selon vos préférences */
    margin-right: 900px;
    margin-top: 45px;
}
/* .Titre{
    margin-bottom: 200px;
} */
.header-menu {
    list-style-type: none; /* Supprime les puces par défaut */
    margin-top: -20px; /* Ajustez la marge supérieure selon vos préférences */
    padding: 0;
   
}
.header-menu li {
    display: inline-block;
    margin-right: 15px; /* Espacement entre les éléments de la liste */
}
.header-menu li:last-child {
    margin-right: 0; /* Supprime l'espacement du dernier élément */
}
.header-menu li a {
    font-size: 20px; /* Ajustez la taille du texte selon vos préférences */
    color: #333333; /* Couleur du texte pour les liens */
    text-decoration: none; /* Supprime les soulignements des liens */
}
.logout-button {
    font-size: 16px; /* Ajustez la taille du texte selon vos préférences */
    color: #ffffff; /* Couleur du texte pour le bouton de déconnexion */
    background-color: #e67e22; /* Couleur chic pour le fond du bouton de déconnexion */
     padding: 8px 16px; 
    border-radius: 10px; /* Ajoutez des coins arrondis au bouton */
    text-decoration: none; 
    margin-left: 1000px;
    margin-top: -50px;
   
    
}
.logout-button:hover {
    background-color: #ff8c49; 
}



